@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,100&family=Lato:ital,wght@1,300&family=Poppins:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #090e22;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 100vh;
}
input{
  background-color: #1d1e33;
  border: none;
  min-height: 3rem;
  min-width: 400px;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
}
.container{
  background-color: #1d1e33;
  min-width: 300px;
  min-height: 400px;
  border-radius: 10px;
  padding: 20px;
}
.container .p-marcação{
  color:#3a9aee;
  font-weight: bold;
}
.container section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.container  p{
  margin: 20px;
}
.repo{
  background-color: #090e22;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.repo div{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}
footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
